<% unless comment.archived? %>
  <li class="list-group-item">
    <div>
      <span> <strong><%= comment.commenter %>:</strong> <%= comment.body %> </span>
      <span class="btn">
  <%= link_to "Destroy Comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
          } 
  %>
</span>
    </div>
  </li>

<% else %>
<p>No comments yet!</p>
<%end%>